{
  "openapi": "3.1.0",
  "info": {
    "title": "Regen Network Unified API",
    "description": "Unified API for Regen Network combining blockchain ledger data and knowledge base search.\n\n## Two API Modules\n\n### 1. Ledger API (`/regen-api/*`)\nQuery Regen Network blockchain for ecological credits, carbon markets, governance, and staking.\n- **Ecocredits** (4): Credit types, classes, projects, batches\n- **Marketplace** (2): Sell orders, allowed denoms\n- **Baskets** (3): Basket tokens with balances\n- **Bank** (5): Accounts, balances, supply, metadata, params\n- **Distribution** (4): Staking rewards, validator/delegator info\n- **Governance** (4): Proposals, voting, params, community pool\n- **Analytics** (3): Portfolio analysis, market trends, methodology comparison\n\n### 2. Knowledge API (`/api/koi/*`)\nSemantic search across 6,500+ documents about regenerative agriculture, Regen Network, and ecological credits.\n- **Search**: Hybrid semantic search with RRF ranking\n- **Stats**: Knowledge base statistics\n- **Weekly Digest**: Curated weekly summaries\n\nAll queries are read-only.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://regen.gaiaai.xyz",
      "description": "Production API"
    }
  ],
  "components": {
    "schemas": {
      "DataSourceEnum": {
        "type": "string",
        "enum": ["on-chain", "koi-derived", "estimated", "cached", "metadata"],
        "description": "Data source classification"
      },
      "OnChainAsOf": {
        "type": "object",
        "properties": {
          "chain_id": {"type": "string", "default": "regen-1", "description": "Blockchain chain ID"},
          "block_height": {"type": "integer", "description": "Block height when data was queried"},
          "block_time": {"type": "string", "description": "Block timestamp (ISO 8601)"}
        }
      },
      "KoiAsOf": {
        "type": "object",
        "properties": {
          "corpus_version": {"type": "string", "description": "KOI corpus version identifier"},
          "indexed_at": {"type": "string", "description": "When the KOI data was last indexed (ISO 8601)"}
        }
      },
      "MetadataAsOf": {
        "type": "object",
        "properties": {
          "iri": {"type": "string", "description": "Metadata IRI that was resolved"},
          "resolved_at": {"type": "string", "description": "When metadata was resolved (ISO 8601)"}
        }
      },
      "AsOf": {
        "type": "object",
        "description": "Data freshness metadata",
        "properties": {
          "on_chain": {"$ref": "#/components/schemas/OnChainAsOf"},
          "koi": {"$ref": "#/components/schemas/KoiAsOf"},
          "metadata": {"$ref": "#/components/schemas/MetadataAsOf"}
        }
      },
      "ToolTrace": {
        "type": "object",
        "description": "Trace entry for operations executed",
        "properties": {
          "tool": {"type": "string", "description": "Tool or operation name"},
          "params_summary": {"type": "string", "description": "Redacted summary of params"},
          "timestamp": {"type": "string", "description": "When the tool was invoked (ISO 8601)"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "duration_ms": {"type": "number", "description": "Operation duration in milliseconds"}
        },
        "required": ["tool", "params_summary", "timestamp", "data_source"]
      },
      "ApiError": {
        "type": "object",
        "description": "Structured error with retryability information",
        "properties": {
          "code": {"type": "string", "description": "Error code (e.g., 'GOVERNANCE_UNAVAILABLE')"},
          "message": {"type": "string", "description": "Human-readable error message"},
          "retryable": {"type": "boolean", "default": false, "description": "Whether the client should retry"},
          "retry_after_ms": {"type": "integer", "description": "Suggested wait time before retry (ms)"},
          "details": {"type": "object", "description": "Additional error context"}
        },
        "required": ["code", "message"]
      },
      "Citation": {
        "type": "object",
        "description": "Citation for KOI-derived data",
        "properties": {
          "rid": {"type": "string", "description": "KOI record ID"},
          "url": {"type": "string", "description": "Canonical URL to source"},
          "title": {"type": "string", "description": "Source title"},
          "excerpt": {"type": "string", "description": "Relevant excerpt/quote"},
          "verified": {"type": "boolean", "description": "Whether the link has been verified"},
          "checked_at": {"type": "string", "description": "When link was last verified (ISO 8601)"}
        },
        "required": ["rid"]
      },
      "PaginationMeta": {
        "type": "object",
        "description": "Standardized pagination metadata",
        "properties": {
          "offset": {"type": "integer", "default": 0, "description": "Current offset"},
          "limit": {"type": "integer", "default": 100, "description": "Page size limit"},
          "total": {"type": "integer", "description": "Total number of items (if known)"},
          "has_more": {"type": "boolean", "description": "Whether more results exist"},
          "next_offset": {"type": "integer", "description": "Offset for next page (if has_more)"}
        }
      },
      "Coin": {
        "type": "object",
        "description": "Cosmos SDK coin representation",
        "properties": {
          "denom": {"type": "string", "description": "Token denomination"},
          "amount": {"type": "string", "description": "Token amount as string"}
        },
        "required": ["denom", "amount"]
      },
      "CreditType": {
        "type": "object",
        "description": "Credit type information",
        "properties": {
          "abbreviation": {"type": "string", "description": "Credit type abbreviation (e.g., 'C')"},
          "name": {"type": "string", "description": "Full credit type name"},
          "unit": {"type": "string", "description": "Unit of measurement"},
          "precision": {"type": "integer", "description": "Decimal precision"}
        },
        "required": ["abbreviation", "name", "unit", "precision"]
      },
      "CreditClass": {
        "type": "object",
        "description": "Credit class (methodology) information",
        "properties": {
          "id": {"type": "string", "description": "Class ID"},
          "admin": {"type": "string", "description": "Class administrator address"},
          "metadata": {"type": "string", "description": "Class metadata IRI"},
          "credit_type_abbrev": {"type": "string", "description": "Credit type abbreviation"}
        },
        "required": ["id", "admin", "metadata", "credit_type_abbrev"]
      },
      "Project": {
        "type": "object",
        "description": "Ecological project information",
        "properties": {
          "id": {"type": "string", "description": "Project ID"},
          "admin": {"type": "string", "description": "Project administrator address"},
          "class_id": {"type": "string", "description": "Associated credit class ID"},
          "jurisdiction": {"type": "string", "description": "Project jurisdiction"},
          "metadata": {"type": "string", "description": "Project metadata IRI"},
          "reference_id": {"type": "string", "description": "External reference ID"},
          "hectares": {"type": "number", "description": "Project area in hectares (when include_offchain_metrics=true)"},
          "hectares_citation": {"$ref": "#/components/schemas/Citation"}
        },
        "required": ["id", "admin", "class_id", "jurisdiction", "metadata"]
      },
      "CreditBatch": {
        "type": "object",
        "description": "Credit batch information",
        "properties": {
          "issuer": {"type": "string", "description": "Batch issuer address"},
          "project_id": {"type": "string", "description": "Associated project ID"},
          "denom": {"type": "string", "description": "Batch denomination"},
          "metadata": {"type": "string", "description": "Batch metadata IRI"},
          "start_date": {"type": "string", "description": "Monitoring start date"},
          "end_date": {"type": "string", "description": "Monitoring end date"},
          "issuance_date": {"type": "string", "description": "Issuance date"},
          "open": {"type": "boolean", "description": "Whether batch is open for additional issuance"}
        },
        "required": ["issuer", "project_id", "denom", "metadata", "open"]
      },
      "SellOrder": {
        "type": "object",
        "description": "Marketplace sell order",
        "properties": {
          "id": {"type": "string", "description": "Sell order ID"},
          "seller": {"type": "string", "description": "Seller address"},
          "batch_denom": {"type": "string", "description": "Credit batch denomination"},
          "quantity": {"type": "string", "description": "Credit quantity for sale"},
          "ask_denom": {"type": "string", "description": "Ask denomination"},
          "ask_amount": {"type": "string", "description": "Ask amount per credit"},
          "disable_auto_retire": {"type": "boolean", "description": "Whether auto-retire is disabled"},
          "expiration": {"type": "string", "description": "Order expiration (ISO 8601)"}
        },
        "required": ["id", "seller", "batch_denom", "quantity"]
      },
      "AllowedDenom": {
        "type": "object",
        "description": "Allowed denomination for marketplace payments",
        "properties": {
          "bank_denom": {"type": "string", "description": "Bank denomination"},
          "display_denom": {"type": "string", "description": "Display denomination"},
          "exponent": {"type": "integer", "description": "Decimal exponent"}
        },
        "required": ["bank_denom", "display_denom", "exponent"]
      },
      "Basket": {
        "type": "object",
        "description": "Ecocredit basket information",
        "properties": {
          "basket_denom": {"type": "string", "description": "Basket denomination"},
          "name": {"type": "string", "description": "Basket name"},
          "disable_auto_retire": {"type": "boolean", "description": "Whether auto-retire is disabled"},
          "credit_type_abbrev": {"type": "string", "description": "Credit type abbreviation"},
          "date_criteria": {"type": "object", "description": "Date acceptance criteria"},
          "exponent": {"type": "integer", "description": "Decimal exponent"},
          "curator": {"type": "string", "description": "Basket curator address"}
        },
        "required": ["basket_denom", "name", "credit_type_abbrev", "curator"]
      },
      "BasketBalance": {
        "type": "object",
        "description": "Balance of credits in a basket",
        "properties": {
          "batch_denom": {"type": "string", "description": "Batch denomination"},
          "balance": {"type": "string", "description": "Balance amount"}
        },
        "required": ["batch_denom", "balance"]
      },
      "AccountInfo": {
        "type": "object",
        "description": "Account information",
        "properties": {
          "address": {"type": "string", "description": "Account address"},
          "account_number": {"type": "string", "description": "Account number"},
          "sequence": {"type": "string", "description": "Account sequence"}
        },
        "required": ["address"]
      },
      "TokenMetadata": {
        "type": "object",
        "description": "Token denomination metadata",
        "properties": {
          "description": {"type": "string", "description": "Token description"},
          "denom_units": {"type": "array", "items": {"type": "object"}, "description": "Denomination units"},
          "base": {"type": "string", "description": "Base denomination"},
          "display": {"type": "string", "description": "Display denomination"},
          "name": {"type": "string", "description": "Token name"},
          "symbol": {"type": "string", "description": "Token symbol"}
        },
        "required": ["base", "display"]
      },
      "DistributionParams": {
        "type": "object",
        "description": "Distribution module parameters",
        "properties": {
          "community_tax": {"type": "string", "description": "Community tax rate"},
          "base_proposer_reward": {"type": "string", "description": "Base proposer reward"},
          "bonus_proposer_reward": {"type": "string", "description": "Bonus proposer reward"},
          "withdraw_addr_enabled": {"type": "boolean", "description": "Whether withdraw address changes are enabled"}
        }
      },
      "ValidatorDistribution": {
        "type": "object",
        "description": "Validator distribution information",
        "properties": {
          "operator_address": {"type": "string", "description": "Validator operator address"},
          "outstanding_rewards": {"type": "array", "items": {"$ref": "#/components/schemas/Coin"}, "description": "Outstanding rewards"},
          "commission": {"type": "array", "items": {"$ref": "#/components/schemas/Coin"}, "description": "Commission"},
          "slashes": {"type": "array", "items": {"type": "object"}, "description": "Slashing events"}
        },
        "required": ["operator_address"]
      },
      "DelegatorDistribution": {
        "type": "object",
        "description": "Delegator distribution information",
        "properties": {
          "delegator_address": {"type": "string", "description": "Delegator address"},
          "rewards": {"type": "array", "items": {"type": "object"}, "description": "Rewards per validator"},
          "total": {"type": "array", "items": {"$ref": "#/components/schemas/Coin"}, "description": "Total rewards"},
          "withdraw_address": {"type": "string", "description": "Withdraw address"}
        },
        "required": ["delegator_address"]
      },
      "GovernanceParams": {
        "type": "object",
        "description": "Governance module parameters",
        "properties": {
          "voting_params": {"type": "object", "description": "Voting parameters"},
          "deposit_params": {"type": "object", "description": "Deposit parameters"},
          "tally_params": {"type": "object", "description": "Tally parameters"}
        }
      },
      "Proposal": {
        "type": "object",
        "description": "Governance proposal",
        "properties": {
          "proposal_id": {"type": "string", "description": "Proposal ID"},
          "content": {"type": "object", "description": "Proposal content"},
          "status": {"type": "string", "description": "Proposal status"},
          "final_tally_result": {"type": "object", "description": "Final vote tally"},
          "submit_time": {"type": "string", "description": "Submission time"},
          "deposit_end_time": {"type": "string", "description": "Deposit end time"},
          "total_deposit": {"type": "array", "items": {"$ref": "#/components/schemas/Coin"}, "description": "Total deposited"},
          "voting_start_time": {"type": "string", "description": "Voting start time"},
          "voting_end_time": {"type": "string", "description": "Voting end time"}
        },
        "required": ["proposal_id", "status"]
      },
      "ProposalFull": {
        "type": "object",
        "description": "Full proposal details with votes and deposits",
        "properties": {
          "proposal": {"$ref": "#/components/schemas/Proposal"},
          "votes": {"type": "array", "items": {"type": "object"}, "description": "Votes on the proposal"},
          "deposits": {"type": "array", "items": {"type": "object"}, "description": "Deposits on the proposal"},
          "tally": {"type": "object", "description": "Current tally result"}
        },
        "required": ["proposal"]
      },
      "PortfolioAnalysis": {
        "type": "object",
        "description": "Portfolio impact analysis",
        "properties": {
          "address": {"type": "string", "description": "Analyzed address"},
          "analysis_type": {"type": "string", "description": "Type of analysis performed"},
          "total_credits": {"type": "number", "description": "Total credits held"},
          "credit_breakdown": {"type": "object", "description": "Breakdown by credit type"},
          "ecological_impact": {"type": "object", "description": "Ecological impact metrics"},
          "recommendations": {"type": "array", "items": {"type": "string"}, "description": "Portfolio recommendations"}
        },
        "required": ["address", "analysis_type"]
      },
      "MarketTrends": {
        "type": "object",
        "description": "Market trends analysis",
        "properties": {
          "time_period": {"type": "string", "description": "Analysis time period"},
          "credit_types": {"type": "array", "items": {"type": "string"}, "description": "Analyzed credit types"},
          "trends": {"type": "object", "description": "Trend data by credit type"},
          "summary": {"type": "object", "description": "Summary statistics"}
        },
        "required": ["time_period"]
      },
      "MethodologyComparison": {
        "type": "object",
        "description": "Credit methodology comparison",
        "properties": {
          "class_ids": {"type": "array", "items": {"type": "string"}, "description": "Compared class IDs"},
          "comparison": {"type": "object", "description": "Comparison results"},
          "recommendations": {"type": "array", "items": {"type": "string"}, "description": "Recommendations"}
        },
        "required": ["class_ids"]
      },
      "ApiCapabilities": {
        "type": "object",
        "description": "API capabilities summary",
        "properties": {
          "name": {"type": "string", "description": "API name"},
          "description": {"type": "string", "description": "API description"},
          "capabilities": {"type": "object", "description": "Available API capabilities grouped by category"}
        },
        "required": ["name", "capabilities"]
      },
      "KoiSearchResult": {
        "type": "object",
        "description": "Individual search result",
        "properties": {
          "title": {"type": "string", "description": "Document title"},
          "content": {"type": "string", "description": "Content excerpt"},
          "score": {"type": "number", "description": "Relevance score"},
          "source": {"type": "string", "description": "Source type"},
          "rid": {"type": "string", "description": "Record ID"},
          "metadata": {"type": "object", "description": "Additional metadata"}
        },
        "required": ["title", "content", "score", "rid"]
      },
      "KoiSearchResponse": {
        "type": "object",
        "description": "Knowledge base search response",
        "properties": {
          "question": {"type": "string", "description": "Original search query"},
          "total_results": {"type": "integer", "description": "Total results found"},
          "confidence": {"type": "number", "description": "Overall confidence score"},
          "execution_time": {"type": "number", "description": "Query execution time in seconds"},
          "results": {"type": "array", "items": {"$ref": "#/components/schemas/KoiSearchResult"}, "description": "Search results"},
          "answerable": {"type": "boolean", "description": "Whether the query can be reliably answered with available evidence"},
          "answerability_reason": {
            "type": "string",
            "enum": ["sufficient_evidence", "no_recent_sources", "no_dated_sources", "sources_only_identity_mentions", "policy_filtered_all_sources", "ambiguous_entity", "insufficient_candidates"],
            "description": "Reason for answerability status"
          },
          "evidence_summary": {"type": "string", "description": "Summary of supporting evidence found (when answerable)"},
          "profile_debug": {
            "type": "object",
            "description": "Retrieval profile debug info",
            "properties": {
              "profile_name": {"type": "string", "description": "Name of the profile used"},
              "profile_version": {"type": "string", "description": "Version of the profile"},
              "effective_policy": {"type": "string", "enum": ["public", "internal_ok"], "description": "Effective policy after auth check"},
              "recency_window_used": {"type": "integer", "description": "Recency window in months (0 = none)"},
              "candidates_total": {"type": "integer", "description": "Candidates before filtering"},
              "candidates_filtered": {"type": "integer", "description": "Candidates removed by profile"},
              "candidates_kept": {"type": "integer", "description": "Candidates kept after filtering"}
            }
          }
        },
        "required": ["question", "total_results", "results"]
      },
      "KoiGraphResponse": {
        "type": "object",
        "description": "Code graph query response",
        "properties": {
          "query_type": {"type": "string", "description": "Type of query performed"},
          "total_results": {"type": "integer", "description": "Total results"},
          "results": {"type": "array", "items": {"type": "object"}, "description": "Query results"}
        },
        "required": ["query_type", "results"]
      },
      "KoiEntityResponse": {
        "type": "object",
        "description": "Entity query response",
        "properties": {
          "query_type": {"type": "string", "description": "Type of entity query"},
          "results": {"type": "array", "items": {"type": "object"}, "description": "Query results"},
          "request_id": {"type": "string", "description": "Request ID"},
          "warnings": {"type": "array", "items": {"type": "string"}, "description": "Any warnings"}
        },
        "required": ["query_type", "results"]
      },
      "WeeklyDigest": {
        "type": "object",
        "description": "Weekly digest content",
        "properties": {
          "period_start": {"type": "string", "description": "Digest period start date"},
          "period_end": {"type": "string", "description": "Digest period end date"},
          "executive_summary": {"type": "string", "description": "Executive summary"},
          "governance": {"type": "object", "description": "Governance activity"},
          "community": {"type": "object", "description": "Community updates"},
          "metrics": {"type": "object", "description": "On-chain metrics"}
        },
        "required": ["period_start", "period_end"]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response envelope",
        "properties": {
          "request_id": {"type": "string", "description": "Unique request ID"},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}, "description": "Structured errors"},
          "warnings": {"type": "array", "items": {"type": "string"}, "description": "Additional context"}
        },
        "required": ["request_id", "errors"]
      },
      "Response_ApiCapabilities": {
        "type": "object",
        "description": "API capabilities response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/ApiCapabilities"},
          "request_id": {"type": "string", "description": "Unique request ID"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_CreditTypes": {
        "type": "object",
        "description": "Credit types list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "credit_types": {"type": "array", "items": {"$ref": "#/components/schemas/CreditType"}}
            },
            "required": ["credit_types"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_CreditClasses": {
        "type": "object",
        "description": "Credit classes list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "classes": {"type": "array", "items": {"$ref": "#/components/schemas/CreditClass"}}
            },
            "required": ["classes"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_Projects": {
        "type": "object",
        "description": "Projects list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "projects": {"type": "array", "items": {"$ref": "#/components/schemas/Project"}}
            },
            "required": ["projects"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"},
          "citations": {"type": "array", "items": {"$ref": "#/components/schemas/Citation"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_CreditBatches": {
        "type": "object",
        "description": "Credit batches list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "batches": {"type": "array", "items": {"$ref": "#/components/schemas/CreditBatch"}}
            },
            "required": ["batches"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_SellOrders": {
        "type": "object",
        "description": "Sell orders list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "sell_orders": {"type": "array", "items": {"$ref": "#/components/schemas/SellOrder"}}
            },
            "required": ["sell_orders"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_AllowedDenoms": {
        "type": "object",
        "description": "Allowed denoms list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "allowed_denoms": {"type": "array", "items": {"$ref": "#/components/schemas/AllowedDenom"}}
            },
            "required": ["allowed_denoms"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_Baskets": {
        "type": "object",
        "description": "Baskets list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "baskets": {"type": "array", "items": {"$ref": "#/components/schemas/Basket"}}
            },
            "required": ["baskets"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_BasketFee": {
        "type": "object",
        "description": "Basket fee response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "fee": {"$ref": "#/components/schemas/Coin"}
            }
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_BasketDetails": {
        "type": "object",
        "description": "Basket details response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "basket": {"$ref": "#/components/schemas/Basket"},
              "balances": {"type": "array", "items": {"$ref": "#/components/schemas/BasketBalance"}}
            },
            "required": ["basket"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_Accounts": {
        "type": "object",
        "description": "Accounts list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "accounts": {"type": "array", "items": {"$ref": "#/components/schemas/AccountInfo"}},
              "account": {"$ref": "#/components/schemas/AccountInfo"}
            }
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_Balances": {
        "type": "object",
        "description": "Account balances response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "balances": {"type": "array", "items": {"$ref": "#/components/schemas/Coin"}},
              "balance": {"$ref": "#/components/schemas/Coin"}
            }
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_Supply": {
        "type": "object",
        "description": "Token supply response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "supply": {"type": "array", "items": {"$ref": "#/components/schemas/Coin"}},
              "amount": {"$ref": "#/components/schemas/Coin"}
            }
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_TokenMetadata": {
        "type": "object",
        "description": "Token metadata response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "metadatas": {"type": "array", "items": {"$ref": "#/components/schemas/TokenMetadata"}},
              "metadata": {"$ref": "#/components/schemas/TokenMetadata"},
              "owners": {"type": "array", "items": {"type": "object"}}
            }
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_BankParams": {
        "type": "object",
        "description": "Bank params response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "params": {
                "type": "object",
                "properties": {
                  "send_enabled": {"type": "array", "items": {"type": "object"}},
                  "default_send_enabled": {"type": "boolean"}
                }
              }
            },
            "required": ["params"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_DistributionParams": {
        "type": "object",
        "description": "Distribution params response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/DistributionParams"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_CommunityPool": {
        "type": "object",
        "description": "Community pool response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "pool": {"type": "array", "items": {"$ref": "#/components/schemas/Coin"}}
            },
            "required": ["pool"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_ValidatorDistribution": {
        "type": "object",
        "description": "Validator distribution response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/ValidatorDistribution"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_DelegatorDistribution": {
        "type": "object",
        "description": "Delegator distribution response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/DelegatorDistribution"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_GovernanceParams": {
        "type": "object",
        "description": "Governance params response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/GovernanceParams"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_Proposals": {
        "type": "object",
        "description": "Proposals list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "proposals": {"type": "array", "items": {"$ref": "#/components/schemas/Proposal"}}
            },
            "required": ["proposals"]
          },
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_ProposalFull": {
        "type": "object",
        "description": "Full proposal details response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/ProposalFull"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}},
          "pagination": {"$ref": "#/components/schemas/PaginationMeta"}
        },
        "required": ["data", "request_id"]
      },
      "Response_PortfolioAnalysis": {
        "type": "object",
        "description": "Portfolio analysis response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/PortfolioAnalysis"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_MarketTrends": {
        "type": "object",
        "description": "Market trends response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/MarketTrends"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_MethodologyComparison": {
        "type": "object",
        "description": "Methodology comparison response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/MethodologyComparison"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_KoiSearch": {
        "type": "object",
        "description": "KOI search response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/KoiSearchResponse"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_KoiGraph": {
        "type": "object",
        "description": "KOI graph response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/KoiGraphResponse"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      },
      "Response_WeeklyDigest": {
        "type": "object",
        "description": "Weekly digest response envelope",
        "properties": {
          "data": {"$ref": "#/components/schemas/WeeklyDigest"},
          "request_id": {"type": "string"},
          "data_source": {"$ref": "#/components/schemas/DataSourceEnum"},
          "as_of": {"$ref": "#/components/schemas/AsOf"},
          "tool_trace": {"type": "array", "items": {"$ref": "#/components/schemas/ToolTrace"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "errors": {"type": "array", "items": {"$ref": "#/components/schemas/ApiError"}}
        },
        "required": ["data", "request_id"]
      }
    }
  },
  "paths": {
    "/regen-api/summary": {
      "get": {
        "tags": ["Discovery"],
        "summary": "API capabilities summary",
        "description": "Get a complete summary of all API capabilities. CALL THIS FIRST to understand what information is available. Returns organized list of all endpoints grouped by function, helping you choose the right endpoint for any question.",
        "operationId": "get_api_summary",
        "responses": {
          "200": {
            "description": "API capabilities organized by category",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_ApiCapabilities"},
                "example": {
                  "data": {
                    "name": "Regen Network API",
                    "description": "Unified API for Regen Network blockchain and knowledge base",
                    "capabilities": {
                      "ecocredits": ["list_credit_types", "list_credit_classes", "list_projects", "list_credit_batches"],
                      "marketplace": ["query_marketplace_orders", "list_allowed_denoms"],
                      "baskets": ["list_baskets", "get_basket_details", "get_basket_fee"]
                    }
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440000",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}
          }
        }
      }
    },
    "/regen-api/ecocredits/types": {
      "get": {
        "tags": ["Ledger - Ecocredits"],
        "summary": "List credit types",
        "description": "List all ecological credit types enabled on Regen (Carbon, Biodiversity, etc.).",
        "operationId": "list_credit_types",
        "responses": {
          "200": {
            "description": "List of credit types",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_CreditTypes"},
                "example": {
                  "data": {
                    "credit_types": [
                      {"abbreviation": "C", "name": "Carbon", "unit": "metric ton CO2 equivalent", "precision": 6}
                    ]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440001",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/ecocredits/classes": {
      "get": {
        "tags": ["Ledger - Ecocredits"],
        "summary": "List credit classes",
        "description": "List credit classes (methodologies for measuring ecological benefits). Returns up to `limit` results; check `pagination.has_more` for additional pages.",
        "operationId": "list_credit_classes",
        "parameters": [
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 500, "default": 100}, "description": "Max results to return"},
          {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0}, "description": "Number of results to skip"}
        ],
        "responses": {
          "200": {
            "description": "List of credit classes",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_CreditClasses"},
                "example": {
                  "data": {
                    "classes": [
                      {"id": "C01", "admin": "regen1...", "metadata": "regen:13toVgf...", "credit_type_abbrev": "C"}
                    ]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440002",
                  "data_source": "on-chain",
                  "pagination": {"offset": 0, "limit": 100, "total": 15}
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/ecocredits/projects": {
      "get": {
        "tags": ["Ledger - Ecocredits"],
        "summary": "List projects",
        "description": "List ecological projects registered on Regen that generate credits. Returns up to `limit` results; check `pagination.has_more` for additional pages. When include_offchain_metrics=true, projects with Regen metadata IRIs will be enriched with hectares derived from off-chain metadata. Enforces 'no citation, no metric' - hectares only appear with full provenance.",
        "operationId": "list_projects",
        "parameters": [
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 500, "default": 100}, "description": "Max results to return"},
          {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0}, "description": "Number of results to skip"},
          {"name": "include_offchain_metrics", "in": "query", "required": false, "schema": {"type": "boolean", "default": false}, "description": "Enrich projects with off-chain hectares from metadata IRIs. Enforces 'no citation, no metric' policy."}
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_Projects"},
                "example": {
                  "data": {
                    "projects": [
                      {"id": "C01-001", "admin": "regen1...", "class_id": "C01", "jurisdiction": "US-CA", "metadata": "regen:13toVgf..."}
                    ]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440003",
                  "data_source": "on-chain",
                  "pagination": {"offset": 0, "limit": 100, "total": 50}
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/ecocredits/batches": {
      "get": {
        "tags": ["Ledger - Ecocredits"],
        "summary": "List credit batches",
        "description": "List issued credit batches. Returns up to `limit` results; check `pagination.has_more` for additional pages. Options: summary=true returns aggregates by credit type; summary=true&fetch_all=true scans all pages (capped) for complete totals.",
        "operationId": "list_credit_batches",
        "parameters": [
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 500, "default": 100}, "description": "Max results to return"},
          {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0}, "description": "Number of results to skip"},
          {"name": "summary", "in": "query", "required": false, "schema": {"type": "boolean", "default": false}, "description": "Return aggregate summary by credit type instead of individual batches. Reduces pagination loops for analytics use cases."},
          {"name": "fetch_all", "in": "query", "required": false, "schema": {"type": "boolean", "default": false}, "description": "When summary=true, fetch all pages to compute complete totals. Without this, summary is computed from first page only. Max 50 pages."}
        ],
        "responses": {
          "200": {
            "description": "List of credit batches or summary",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_CreditBatches"},
                "examples": {
                  "batches": {
                    "summary": "Standard batch list",
                    "value": {
                      "data": {
                        "batches": [
                          {"issuer": "regen1...", "project_id": "C01-001", "denom": "C01-001-20200101-20201231-001", "metadata": "regen:...", "start_date": "2020-01-01", "end_date": "2020-12-31", "open": false}
                        ]
                      },
                      "request_id": "550e8400-e29b-41d4-a716-446655440004",
                      "data_source": "on-chain",
                      "pagination": {"offset": 0, "limit": 100, "total": 200}
                    }
                  },
                  "summary": {
                    "summary": "Aggregate summary by credit type with real supply data",
                    "value": {
                      "data": {
                        "summary": [
                          {"credit_type": "C", "batch_count": 150, "total_issued": 1523456.5, "total_tradable": 498123.0, "total_retired": 1025333.5, "total_cancelled": 0.0, "unique_classes": 12, "unique_projects": 45},
                          {"credit_type": "BT", "batch_count": 25, "total_issued": 85000.0, "total_tradable": 35000.0, "total_retired": 50000.0, "total_cancelled": 0.0, "unique_classes": 3, "unique_projects": 8}
                        ],
                        "batches_analyzed": 175,
                        "batches_with_supply_data": 175,
                        "total_batches": 175,
                        "aggregation": {
                          "method": "by_credit_type",
                          "metrics": ["total_issued", "total_tradable", "total_retired", "total_cancelled"],
                          "supply_source": "on-chain per-batch supply query"
                        },
                        "caps": {
                          "max_batch_pages": 50,
                          "max_supply_batches": 500,
                          "supply_timeout_seconds": 25.0
                        }
                      },
                      "request_id": "550e8400-e29b-41d4-a716-446655440005",
                      "data_source": "on-chain"
                    }
                  },
                  "summary_partial": {
                    "summary": "Summary with partial supply data (caps reached)",
                    "value": {
                      "data": {
                        "summary": [
                          {"credit_type": "C", "batch_count": 600, "total_issued": 2850000.0, "total_tradable": 950000.0, "total_retired": 1900000.0, "total_cancelled": 0.0, "unique_classes": 15, "unique_projects": 120}
                        ],
                        "batches_analyzed": 600,
                        "batches_with_supply_data": 500,
                        "total_batches": 600,
                        "aggregation": {
                          "method": "by_credit_type",
                          "metrics": ["total_issued", "total_tradable", "total_retired", "total_cancelled"],
                          "supply_source": "on-chain per-batch supply query"
                        },
                        "caps": {
                          "max_batch_pages": 50,
                          "max_supply_batches": 500,
                          "supply_timeout_seconds": 25.0
                        }
                      },
                      "request_id": "550e8400-e29b-41d4-a716-446655440006",
                      "data_source": "on-chain",
                      "warnings": [
                        "SUPPLY_BATCHES_CAPPED: Supply data fetched for first 500 batches only. Total batches: 600. Supply totals are partial."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/marketplace/orders": {
      "get": {
        "tags": ["Ledger - Marketplace"],
        "summary": "Query sell orders",
        "description": "Query marketplace sell orders. Returns up to `limit` results; check `pagination.has_more` for additional pages. Use query params to filter:\n- No params: List all active orders\n- ?id=123: Get specific order by ID\n- ?batch=C01-001-...: Filter orders for a credit batch\n- ?seller=regen1...: Filter orders by seller address",
        "operationId": "query_marketplace_orders",
        "parameters": [
          {"name": "id", "in": "query", "required": false, "schema": {"type": "integer"}, "description": "Get specific order by ID"},
          {"name": "batch", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter orders by credit batch denom"},
          {"name": "seller", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter orders by seller address"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Page number"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 100}, "description": "Results per page"}
        ],
        "responses": {
          "200": {
            "description": "List of sell orders",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_SellOrders"},
                "example": {
                  "data": {
                    "sell_orders": [
                      {"id": "1", "seller": "regen1...", "batch_denom": "C01-001-20200101-20201231-001", "quantity": "100", "ask_denom": "uregen", "ask_amount": "5000000"}
                    ]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440005",
                  "data_source": "on-chain",
                  "pagination": {"offset": 0, "limit": 100, "total": 25}
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/marketplace/denoms": {
      "get": {
        "tags": ["Ledger - Marketplace"],
        "summary": "Allowed payment tokens",
        "description": "List token denominations accepted for marketplace payments.",
        "operationId": "list_allowed_denoms",
        "responses": {
          "200": {
            "description": "List of allowed payment denominations",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_AllowedDenoms"},
                "example": {
                  "data": {
                    "allowed_denoms": [
                      {"bank_denom": "uregen", "display_denom": "REGEN", "exponent": 6}
                    ]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440006",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/baskets": {
      "get": {
        "tags": ["Ledger - Baskets"],
        "summary": "List baskets",
        "description": "List ecocredit baskets (pooled credits represented as fungible tokens). Returns up to `limit` results; check `pagination.has_more` for additional pages.",
        "operationId": "list_baskets",
        "parameters": [
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 500, "default": 100}, "description": "Max results to return"},
          {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0}, "description": "Number of results to skip"}
        ],
        "responses": {
          "200": {
            "description": "List of baskets",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_Baskets"},
                "example": {
                  "data": {
                    "baskets": [
                      {"basket_denom": "eco.uC.NCT", "name": "Nature Carbon Tonne", "credit_type_abbrev": "C", "curator": "regen1..."}
                    ]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440007",
                  "data_source": "on-chain",
                  "pagination": {"offset": 0, "limit": 100, "total": 3}
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/baskets/fee": {
      "get": {
        "tags": ["Ledger - Baskets"],
        "summary": "Basket creation fee",
        "description": "Get the fee required to create a new ecocredit basket.",
        "operationId": "get_basket_fee",
        "responses": {
          "200": {
            "description": "Basket creation fee",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_BasketFee"},
                "example": {
                  "data": {
                    "fee": {"denom": "uregen", "amount": "1000000000"}
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440008",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/baskets/{denom}": {
      "get": {
        "tags": ["Ledger - Baskets"],
        "summary": "Get basket details",
        "description": "Get basket details including criteria and credit type. Use ?include_balances=true to see credit batches in the basket (paginated; check `pagination.has_more` for additional pages).",
        "operationId": "get_basket_details",
        "parameters": [
          {"name": "denom", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Basket token denomination"},
          {"name": "include_balances", "in": "query", "required": false, "schema": {"type": "boolean", "default": false}, "description": "Include credit batches held in basket"},
          {"name": "batch", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Get balance for specific batch only"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 500, "default": 100}, "description": "Max balances to return"},
          {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0}, "description": "Skip balances"}
        ],
        "responses": {
          "200": {
            "description": "Basket details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_BasketDetails"},
                "example": {
                  "data": {
                    "basket": {"basket_denom": "eco.uC.NCT", "name": "Nature Carbon Tonne", "credit_type_abbrev": "C", "curator": "regen1..."},
                    "balances": [{"batch_denom": "C01-001-20200101-20201231-001", "balance": "1000000"}]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440009",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "404": {"description": "Basket not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/bank/accounts": {
      "get": {
        "tags": ["Ledger - Bank"],
        "summary": "Query accounts",
        "description": "Query Regen accounts. Returns up to `limit` results; check `pagination.has_more` for additional pages. Options:\n- No params: List all accounts\n- ?address=regen1...: Get specific account details",
        "operationId": "query_bank_accounts",
        "parameters": [
          {"name": "address", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Get specific account by address"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Page number"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 100}, "description": "Results per page"}
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_Accounts"},
                "example": {
                  "data": {
                    "accounts": [{"address": "regen1...", "account_number": "123", "sequence": "5"}]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440010",
                  "data_source": "on-chain",
                  "pagination": {"offset": 0, "limit": 100, "total": 1000}
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/bank/balances/{address}": {
      "get": {
        "tags": ["Ledger - Bank"],
        "summary": "Get account balances",
        "description": "Get token balances for an account. Returns up to `limit` results; check `pagination.has_more` for additional pages. Use ?denom=uregen for specific token, ?spendable=true for only spendable balances.",
        "operationId": "get_account_balances",
        "parameters": [
          {"name": "address", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Regen account address"},
          {"name": "denom", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Get balance for specific token only"},
          {"name": "spendable", "in": "query", "required": false, "schema": {"type": "boolean", "default": false}, "description": "Return only spendable balances"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Page number"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 100}, "description": "Results per page"}
        ],
        "responses": {
          "200": {
            "description": "Account balances",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_Balances"},
                "example": {
                  "data": {
                    "balances": [{"denom": "uregen", "amount": "1000000000"}]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440011",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/bank/supply": {
      "get": {
        "tags": ["Ledger - Bank"],
        "summary": "Query token supply",
        "description": "Query total token supply. Returns up to `limit` results; check `pagination.has_more` for additional pages. Use ?denom=uregen for specific token supply.",
        "operationId": "query_token_supply",
        "parameters": [
          {"name": "denom", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Get supply for specific token"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Page number"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 100}, "description": "Results per page"}
        ],
        "responses": {
          "200": {
            "description": "Token supply",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_Supply"},
                "example": {
                  "data": {
                    "supply": [{"denom": "uregen", "amount": "100000000000000"}]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440012",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/bank/metadata": {
      "get": {
        "tags": ["Ledger - Bank"],
        "summary": "Query token metadata",
        "description": "Query token metadata (name, symbol, decimals). Returns up to `limit` results; check `pagination.has_more` for additional pages. Use ?denom=uregen for specific token.",
        "operationId": "query_token_metadata",
        "parameters": [
          {"name": "denom", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Get metadata for specific token"},
          {"name": "include_owners", "in": "query", "required": false, "schema": {"type": "boolean", "default": false}, "description": "Include list of token holders (requires denom)"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Page number"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 100}, "description": "Results per page"}
        ],
        "responses": {
          "200": {
            "description": "Token metadata",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_TokenMetadata"},
                "example": {
                  "data": {
                    "metadatas": [{"base": "uregen", "display": "REGEN", "name": "Regen", "symbol": "REGEN"}]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440013",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/bank/params": {
      "get": {
        "tags": ["Ledger - Bank"],
        "summary": "Bank module params",
        "description": "Get bank module parameters (send enabled, default settings).",
        "operationId": "get_bank_params",
        "responses": {
          "200": {
            "description": "Bank module parameters",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_BankParams"},
                "example": {
                  "data": {
                    "params": {"default_send_enabled": true, "send_enabled": []}
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440014",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/distribution/params": {
      "get": {
        "tags": ["Ledger - Distribution"],
        "summary": "Distribution params",
        "description": "Get distribution module parameters for understanding network economics. **Metrics returned:** Community tax rate (% of rewards to community pool), base/bonus proposer rewards, withdraw address settings. **Use when:** Understanding network tokenomics, calculating expected validator/delegator yields, governance research. **Example use cases:** Yield calculations, protocol economic analysis, comparing with other Cosmos chains.",
        "operationId": "get_distribution_params",
        "responses": {
          "200": {
            "description": "Distribution module parameters",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_DistributionParams"},
                "example": {
                  "data": {
                    "community_tax": "0.02",
                    "base_proposer_reward": "0.01",
                    "bonus_proposer_reward": "0.04",
                    "withdraw_addr_enabled": true
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440015",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/distribution/pool": {
      "get": {
        "tags": ["Ledger - Distribution"],
        "summary": "Community pool",
        "description": "Get community pool balance (funds available for governance spending). **Metrics returned:** Total pool balance in uregen (1 REGEN = 1,000,000 uregen). **Use when:** Assessing available funds for governance proposals, tracking community treasury growth, planning funding requests. **Example use cases:** Proposal budgeting, treasury analysis, ecosystem funding reports.",
        "operationId": "get_community_pool",
        "responses": {
          "200": {
            "description": "Community pool balance",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_CommunityPool"},
                "example": {
                  "data": {
                    "pool": [{"denom": "uregen", "amount": "50000000000000"}]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440016",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/distribution/validator/{address}": {
      "get": {
        "tags": ["Ledger - Distribution"],
        "summary": "Validator distribution info",
        "description": "Get validator distribution info for staking economics analysis. **Metrics returned:** Outstanding rewards (unclaimed), accumulated commission, slashing events history. **Use when:** Evaluating validator performance, checking unclaimed rewards, auditing slashing history, validator comparison. **Example use cases:** Validator selection for delegation, commission income analysis, security incident investigation. Slashes are paginated; check `pagination.has_more` for additional pages.",
        "operationId": "get_validator_distribution",
        "parameters": [
          {"name": "address", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Validator operator address (regenvaloper1...)"},
          {"name": "starting_height", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0}, "description": "Start block for slashes"},
          {"name": "ending_height", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0}, "description": "End block for slashes"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Page for slashes"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 100}, "description": "Limit for slashes"}
        ],
        "responses": {
          "200": {
            "description": "Validator distribution info",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_ValidatorDistribution"},
                "example": {
                  "data": {
                    "operator_address": "regenvaloper1...",
                    "outstanding_rewards": [{"denom": "uregen", "amount": "1000000"}],
                    "commission": [{"denom": "uregen", "amount": "100000"}],
                    "slashes": []
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440017",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "404": {"description": "Validator not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/distribution/delegator/{address}": {
      "get": {
        "tags": ["Ledger - Distribution"],
        "summary": "Delegator distribution info",
        "description": "Get delegator staking rewards info for tracking staking income. **Metrics returned:** Rewards by validator, total pending rewards across all delegations, withdrawal address. **Use when:** Checking unclaimed staking rewards, calculating staking income, tax reporting, delegation strategy. **Example use cases:** Portfolio tracking apps, reward harvesting decisions, multi-validator delegation analysis. Use ?validator=regenvaloper1... for rewards from specific validator.",
        "operationId": "get_delegator_distribution",
        "parameters": [
          {"name": "address", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Delegator account address (regen1...)"},
          {"name": "validator", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Get rewards for specific validator only"}
        ],
        "responses": {
          "200": {
            "description": "Delegator distribution info",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_DelegatorDistribution"},
                "example": {
                  "data": {
                    "delegator_address": "regen1...",
                    "rewards": [{"validator_address": "regenvaloper1...", "reward": [{"denom": "uregen", "amount": "500000"}]}],
                    "total": [{"denom": "uregen", "amount": "500000"}]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440018",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/governance/params": {
      "get": {
        "tags": ["Ledger - Governance"],
        "summary": "Governance params",
        "description": "Get governance module parameters. Use ?type=voting|deposit|tally|all for specific params.",
        "operationId": "get_governance_params",
        "parameters": [
          {"name": "type", "in": "query", "required": false, "schema": {"type": "string", "enum": ["voting", "deposit", "tally", "all"]}, "description": "Param type: voting, deposit, tally, or all"}
        ],
        "responses": {
          "200": {
            "description": "Governance parameters",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_GovernanceParams"},
                "example": {
                  "data": {
                    "voting_params": {"voting_period": "432000s"},
                    "deposit_params": {"min_deposit": [{"denom": "uregen", "amount": "10000000"}], "max_deposit_period": "172800s"},
                    "tally_params": {"quorum": "0.334", "threshold": "0.5", "veto_threshold": "0.334"}
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440019",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/governance/proposals": {
      "get": {
        "tags": ["Ledger - Governance"],
        "summary": "Query proposals",
        "description": "Query governance proposals. Returns up to `limit` results; check `pagination.has_more` for additional pages. Filter with ?id=, ?status=, ?voter=, ?depositor= parameters.",
        "operationId": "query_governance_proposals",
        "parameters": [
          {"name": "id", "in": "query", "required": false, "schema": {"type": "integer"}, "description": "Get specific proposal by ID"},
          {"name": "status", "in": "query", "required": false, "schema": {"type": "string", "enum": ["PROPOSAL_STATUS_UNSPECIFIED", "PROPOSAL_STATUS_DEPOSIT_PERIOD", "PROPOSAL_STATUS_VOTING_PERIOD", "PROPOSAL_STATUS_PASSED", "PROPOSAL_STATUS_REJECTED", "PROPOSAL_STATUS_FAILED"]}, "description": "Filter by status"},
          {"name": "voter", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter proposals this address voted on"},
          {"name": "depositor", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter proposals this address deposited to"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Page number"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 100}, "description": "Results per page"}
        ],
        "responses": {
          "200": {
            "description": "List of proposals",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_Proposals"},
                "example": {
                  "data": {
                    "proposals": [
                      {"proposal_id": "1", "status": "PROPOSAL_STATUS_PASSED", "content": {"title": "Example Proposal"}}
                    ]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440020",
                  "data_source": "on-chain",
                  "pagination": {"offset": 0, "limit": 100, "total": 50}
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/governance/proposal/{id}/full": {
      "get": {
        "tags": ["Ledger - Governance"],
        "summary": "Full proposal details",
        "description": "Get comprehensive proposal info including votes, deposits, and tally results. Votes and deposits are paginated; check `pagination.has_more` for additional pages.",
        "operationId": "get_proposal_full_details",
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}, "description": "Proposal ID"},
          {"name": "voter", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter votes to specific voter"},
          {"name": "depositor", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter deposits to specific depositor"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "default": 1}, "description": "Page for votes/deposits lists"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 100}, "description": "Limit for votes/deposits"}
        ],
        "responses": {
          "200": {
            "description": "Full proposal details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_ProposalFull"},
                "example": {
                  "data": {
                    "proposal": {"proposal_id": "1", "status": "PROPOSAL_STATUS_PASSED"},
                    "votes": [{"voter": "regen1...", "option": "VOTE_OPTION_YES"}],
                    "deposits": [{"depositor": "regen1...", "amount": [{"denom": "uregen", "amount": "10000000"}]}],
                    "tally": {"yes": "1000000", "no": "0", "abstain": "0", "no_with_veto": "0"}
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440021",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "404": {"description": "Proposal not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/analytics/portfolio/{address}": {
      "get": {
        "tags": ["Ledger - Analytics"],
        "summary": "Portfolio impact analysis",
        "description": "Analyze ecological impact of an address's credit holdings. **Metrics returned:** Total credits held, breakdown by credit type (C, BIO, etc.), ecological impact estimates (carbon offset tonnes, biodiversity units). **Use when:** Assessing an address's environmental portfolio, calculating impact for reporting, comparing holder portfolios. **Example use cases:** Investor impact reports, organization sustainability metrics, portfolio diversification analysis.",
        "operationId": "analyze_portfolio_impact",
        "parameters": [
          {"name": "address", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Account address to analyze"},
          {"name": "analysis_type", "in": "query", "required": false, "schema": {"type": "string", "default": "full"}, "description": "Analysis type: full, credits, or summary"}
        ],
        "responses": {
          "200": {
            "description": "Portfolio analysis results",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_PortfolioAnalysis"},
                "example": {
                  "data": {
                    "address": "regen1...",
                    "analysis_type": "full",
                    "total_credits": 1000,
                    "credit_breakdown": {"C": 800, "BIO": 200},
                    "ecological_impact": {"carbon_offset_tonnes": 800}
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440022",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/analytics/trends": {
      "get": {
        "tags": ["Ledger - Analytics"],
        "summary": "Market trends",
        "description": "Analyze market trends across credit types. **Metrics returned:** Trading volume, average prices, price trends, market activity by credit type over specified time period. **Use when:** Monitoring market health, identifying trending credit types, price discovery, market research. **Example use cases:** Market reports, trading strategy analysis, credit type popularity comparisons. Call without parameters for all credit types.",
        "operationId": "analyze_market_trends",
        "parameters": [
          {"name": "credit_types", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Comma-separated credit type codes: C (Carbon), BT (BioTerra), KSH (Kilo-Sheep-Hour), USS (Umbrella Species), MBS (Marine Biodiversity). Example: C,BT"},
          {"name": "time_period", "in": "query", "required": false, "schema": {"type": "string", "default": "30d"}, "description": "Time period: 7d, 30d, 90d, 1y"}
        ],
        "responses": {
          "200": {
            "description": "Market trends analysis",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_MarketTrends"},
                "example": {
                  "data": {
                    "time_period": "30d",
                    "credit_types": ["C", "BIO"],
                    "trends": {"C": {"volume": 10000, "avg_price": "5.0"}},
                    "summary": {"total_volume": 12000}
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440023",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/regen-api/analytics/compare": {
      "post": {
        "tags": ["Ledger - Analytics"],
        "summary": "Compare methodologies",
        "description": "Compare different credit class methodologies for impact efficiency. **Metrics returned:** Project counts, total credits issued/retired per class, methodology details, impact efficiency metrics. **Use when:** Evaluating which credit class best fits a project, comparing impact verification approaches, methodology research. **Example use cases:** Project developers choosing methodologies, buyers comparing credit quality, researchers analyzing ecosystem health.",
        "operationId": "compare_credit_methodologies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["class_ids"],
                "properties": {
                  "class_ids": {
                    "type": "array",
                    "items": {"type": "string"},
                    "minItems": 2,
                    "description": "Credit class IDs to compare"
                  }
                }
              },
              "example": {"class_ids": ["C01", "C02"]}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Methodology comparison results",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_MethodologyComparison"},
                "example": {
                  "data": {
                    "class_ids": ["C01", "C02"],
                    "comparison": {"C01": {"projects": 10, "total_credits": 50000}, "C02": {"projects": 5, "total_credits": 25000}},
                    "recommendations": ["C01 has more established track record"]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440024",
                  "data_source": "on-chain"
                }
              }
            }
          },
          "400": {"description": "Invalid request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/koi/query": {
      "post": {
        "tags": ["Knowledge - Search"],
        "summary": "Semantic knowledge search",
        "description": "Search the Regen Network knowledge base using hybrid semantic search (vector + keyword + graph-boosted retrieval). Returns relevant documents about regenerative agriculture, Regen Network, ecological credits, and related topics. **IMPORTANT: The `score` field in results represents RETRIEVAL RELEVANCE (how well a result matches the query), NOT factual accuracy or truth. High scores indicate good semantic/keyword match, not verified facts.** Results include source citations (rid, url) for verification. Use `intent` parameter for specialized retrieval profiles (e.g., person_activity for 'what is X working on?').",
        "operationId": "koi_semantic_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["question"],
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "Natural language question or search query"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10,
                    "description": "Maximum number of results to return"
                  },
                  "intent": {
                    "type": "string",
                    "enum": ["general", "person_activity", "person_bio", "concept_explain", "technical_howto", "code_navigation"],
                    "default": "general",
                    "description": "Query intent for retrieval profile selection (use person_activity for 'what is X working on?')"
                  },
                  "source_policy": {
                    "type": "string",
                    "enum": ["public", "internal_ok"],
                    "default": "public",
                    "description": "Source visibility policy (bounded by auth; internal_ok may be downgraded)"
                  }
                }
              },
              "example": {"question": "What is Regen Registry?", "limit": 10}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results with confidence scores",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Response_KoiSearch"},
                "example": {
                  "data": {
                    "question": "What is Regen Registry?",
                    "total_results": 10,
                    "confidence": 0.85,
                    "execution_time": 0.234,
                    "results": [
                      {"title": "Regen Registry Overview", "content": "Regen Registry is...", "score": 0.92, "source": "documentation", "rid": "doc-123"}
                    ]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440025",
                  "data_source": "koi-derived"
                }
              }
            }
          },
          "400": {"description": "Invalid request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "500": {"description": "Server error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/koi/graph": {
      "post": {
        "tags": ["Knowledge - Graph"],
        "summary": "Query the code knowledge graph",
        "description": "Query the code knowledge graph for entities (Classes, Functions, Handlers, Keepers, etc.) and their relationships. Supports listing repositories, searching entities, finding module relationships, and traversing call hierarchies.",
        "operationId": "koi_graph_query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query_type"],
                "properties": {
[...]
