{
  "openapi": "3.1.0",
  "info": {
    "title": "Regen Network API (GPT)",
    "description": "GPT-optimized API for Regen Network. Combines blockchain ledger data and knowledge base search.\n\n**IMPORTANT**: Call /regen-api/summary first to understand available endpoints.\n\nUnified API for Regen Network combining blockchain ledger data and knowledge base search.\n\n## Two API Modules\n\n### 1. Ledger API (`/regen-api/*`)\nQuery Regen Network blockchain for ecological credits, carbon markets, governance, and staking.\n- **Ecocredits** (4): Credit types, classes, projects, batches\n- **Marketplace** (2): Sell orders, allowed denoms\n- **Baskets** (3): Basket tokens with balances\n- **Bank** (5): Accounts, balances, supply, metadata, params\n- **Distribution** (4): Staking rewards, validator/delegator info\n- **Governance** (4): Proposals, voting, params, community pool\n- **Analytics** (3): Portfolio analysis, market trends, methodology comparison\n\n### 2. Knowledge API (`/api/koi/*`)\nSemantic search across 6,500+ documents about regenerative agriculture, Regen Network, and ecological credits.\n- **Search**: Hybrid semantic search with RRF ranking\n- **Stats**: Knowledge base statistics\n- **Weekly Digest**: Curated weekly summaries\n\nAll queries are read-only.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://registry.regen.gaiaai.xyz",
      "description": "Production API (KOI Action)"
    }
  ],
  "components": {
    "schemas": {
      "DataSourceEnum": {
        "type": "string",
        "enum": [
          "on-chain",
          "koi-derived",
          "estimated",
          "cached",
          "metadata"
        ],
        "description": "Data source classification"
      },
      "OnChainAsOf": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string",
            "default": "regen-1",
            "description": "Blockchain chain ID"
          },
          "block_height": {
            "type": "integer",
            "description": "Block height when data was queried"
          },
          "block_time": {
            "type": "string",
            "description": "Block timestamp (ISO 8601)"
          }
        }
      },
      "KoiAsOf": {
        "type": "object",
        "properties": {
          "corpus_version": {
            "type": "string",
            "description": "KOI corpus version identifier"
          },
          "indexed_at": {
            "type": "string",
            "description": "When the KOI data was last indexed (ISO 8601)"
          }
        }
      },
      "MetadataAsOf": {
        "type": "object",
        "properties": {
          "iri": {
            "type": "string",
            "description": "Metadata IRI that was resolved"
          },
          "resolved_at": {
            "type": "string",
            "description": "When metadata was resolved (ISO 8601)"
          }
        }
      },
      "AsOf": {
        "type": "object",
        "description": "Data freshness metadata",
        "properties": {
          "on_chain": {
            "$ref": "#/components/schemas/OnChainAsOf"
          },
          "koi": {
            "$ref": "#/components/schemas/KoiAsOf"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataAsOf"
          }
        }
      },
      "ToolTrace": {
        "type": "object",
        "description": "Trace entry for operations executed",
        "properties": {
          "tool": {
            "type": "string",
            "description": "Tool or operation name"
          },
          "params_summary": {
            "type": "string",
            "description": "Redacted summary of params"
          },
          "timestamp": {
            "type": "string",
            "description": "When the tool was invoked (ISO 8601)"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "duration_ms": {
            "type": "number",
            "description": "Operation duration in milliseconds"
          }
        },
        "required": [
          "tool",
          "params_summary",
          "timestamp",
          "data_source"
        ]
      },
      "ApiError": {
        "type": "object",
        "description": "Structured error with retryability information",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code (e.g., 'GOVERNANCE_UNAVAILABLE')"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "retryable": {
            "type": "boolean",
            "default": false,
            "description": "Whether the client should retry"
          },
          "retry_after_ms": {
            "type": "integer",
            "description": "Suggested wait time before retry (ms)"
          },
          "details": {
            "type": "object",
            "description": "Additional error context"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "Citation": {
        "type": "object",
        "description": "Citation for KOI-derived data",
        "properties": {
          "rid": {
            "type": "string",
            "description": "KOI record ID"
          },
          "url": {
            "type": "string",
            "description": "Canonical URL to source"
          },
          "title": {
            "type": "string",
            "description": "Source title"
          },
          "excerpt": {
            "type": "string",
            "description": "Relevant excerpt/quote"
          },
          "verified": {
            "type": "boolean",
            "description": "Whether the link has been verified"
          },
          "checked_at": {
            "type": "string",
            "description": "When link was last verified (ISO 8601)"
          }
        },
        "required": [
          "rid"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "description": "Standardized pagination metadata",
        "properties": {
          "offset": {
            "type": "integer",
            "default": 0,
            "description": "Current offset"
          },
          "limit": {
            "type": "integer",
            "default": 100,
            "description": "Page size limit"
          },
          "total": {
            "type": "integer",
            "description": "Total number of items (if known)"
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether more results exist"
          },
          "next_offset": {
            "type": "integer",
            "description": "Offset for next page (if has_more)"
          }
        }
      },
      "Coin": {
        "type": "object",
        "description": "Cosmos SDK coin representation",
        "properties": {
          "denom": {
            "type": "string",
            "description": "Token denomination"
          },
          "amount": {
            "type": "string",
            "description": "Token amount as string"
          }
        },
        "required": [
          "denom",
          "amount"
        ]
      },
      "CreditType": {
        "type": "object",
        "description": "Credit type information",
        "properties": {
          "abbreviation": {
            "type": "string",
            "description": "Credit type abbreviation (e.g., 'C')"
          },
          "name": {
            "type": "string",
            "description": "Full credit type name"
          },
          "unit": {
            "type": "string",
            "description": "Unit of measurement"
          },
          "precision": {
            "type": "integer",
            "description": "Decimal precision"
          }
        },
        "required": [
          "abbreviation",
          "name",
          "unit",
          "precision"
        ]
      },
      "CreditClass": {
        "type": "object",
        "description": "Credit class (methodology) information",
        "properties": {
          "id": {
            "type": "string",
            "description": "Class ID"
          },
          "admin": {
            "type": "string",
            "description": "Class administrator address"
          },
          "metadata": {
            "type": "string",
            "description": "Class metadata IRI"
          },
          "credit_type_abbrev": {
            "type": "string",
            "description": "Credit type abbreviation"
          }
        },
        "required": [
          "id",
          "admin",
          "metadata",
          "credit_type_abbrev"
        ]
      },
      "Project": {
        "type": "object",
        "description": "Ecological project information",
        "properties": {
          "id": {
            "type": "string",
            "description": "Project ID"
          },
          "admin": {
            "type": "string",
            "description": "Project administrator address"
          },
          "class_id": {
            "type": "string",
            "description": "Associated credit class ID"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Project jurisdiction"
          },
          "metadata": {
            "type": "string",
            "description": "Project metadata IRI"
          },
          "reference_id": {
            "type": "string",
            "description": "External reference ID"
          },
          "hectares": {
            "type": "number",
            "description": "Project area in hectares (when include_offchain_metrics=true)"
          },
          "hectares_citation": {
            "$ref": "#/components/schemas/Citation"
          }
        },
        "required": [
          "id",
          "admin",
          "class_id",
          "jurisdiction",
          "metadata"
        ]
      },
      "CreditBatch": {
        "type": "object",
        "description": "Credit batch information",
        "properties": {
          "issuer": {
            "type": "string",
            "description": "Batch issuer address"
          },
          "project_id": {
            "type": "string",
            "description": "Associated project ID"
          },
          "denom": {
            "type": "string",
            "description": "Batch denomination"
          },
          "metadata": {
            "type": "string",
            "description": "Batch metadata IRI"
          },
          "start_date": {
            "type": "string",
            "description": "Monitoring start date"
          },
          "end_date": {
            "type": "string",
            "description": "Monitoring end date"
          },
          "issuance_date": {
            "type": "string",
            "description": "Issuance date"
          },
          "open": {
            "type": "boolean",
            "description": "Whether batch is open for additional issuance"
          }
        },
        "required": [
          "issuer",
          "project_id",
          "denom",
          "metadata",
          "open"
        ]
      },
      "SellOrder": {
        "type": "object",
        "description": "Marketplace sell order",
        "properties": {
          "id": {
            "type": "string",
            "description": "Sell order ID"
          },
          "seller": {
            "type": "string",
            "description": "Seller address"
          },
          "batch_denom": {
            "type": "string",
            "description": "Credit batch denomination"
          },
          "quantity": {
            "type": "string",
            "description": "Credit quantity for sale"
          },
          "ask_denom": {
            "type": "string",
            "description": "Ask denomination"
          },
          "ask_amount": {
            "type": "string",
            "description": "Ask amount per credit"
          },
          "disable_auto_retire": {
            "type": "boolean",
            "description": "Whether auto-retire is disabled"
          },
          "expiration": {
            "type": "string",
            "description": "Order expiration (ISO 8601)"
          }
        },
        "required": [
          "id",
          "seller",
          "batch_denom",
          "quantity"
        ]
      },
      "AllowedDenom": {
        "type": "object",
        "description": "Allowed denomination for marketplace payments",
        "properties": {
          "bank_denom": {
            "type": "string",
            "description": "Bank denomination"
          },
          "display_denom": {
            "type": "string",
            "description": "Display denomination"
          },
          "exponent": {
            "type": "integer",
            "description": "Decimal exponent"
          }
        },
        "required": [
          "bank_denom",
          "display_denom",
          "exponent"
        ]
      },
      "Basket": {
        "type": "object",
        "description": "Ecocredit basket information",
        "properties": {
          "basket_denom": {
            "type": "string",
            "description": "Basket denomination"
          },
          "name": {
            "type": "string",
            "description": "Basket name"
          },
          "disable_auto_retire": {
            "type": "boolean",
            "description": "Whether auto-retire is disabled"
          },
          "credit_type_abbrev": {
            "type": "string",
            "description": "Credit type abbreviation"
          },
          "date_criteria": {
            "type": "object",
            "description": "Date acceptance criteria"
          },
          "exponent": {
            "type": "integer",
            "description": "Decimal exponent"
          },
          "curator": {
            "type": "string",
            "description": "Basket curator address"
          }
        },
        "required": [
          "basket_denom",
          "name",
          "credit_type_abbrev",
          "curator"
        ]
      },
      "BasketBalance": {
        "type": "object",
        "description": "Balance of credits in a basket",
        "properties": {
          "batch_denom": {
            "type": "string",
            "description": "Batch denomination"
          },
          "balance": {
            "type": "string",
            "description": "Balance amount"
          }
        },
        "required": [
          "batch_denom",
          "balance"
        ]
      },
      "AccountInfo": {
        "type": "object",
        "description": "Account information",
        "properties": {
          "address": {
            "type": "string",
            "description": "Account address"
          },
          "account_number": {
            "type": "string",
            "description": "Account number"
          },
          "sequence": {
            "type": "string",
            "description": "Account sequence"
          }
        },
        "required": [
          "address"
        ]
      },
      "TokenMetadata": {
        "type": "object",
        "description": "Token denomination metadata",
        "properties": {
          "description": {
            "type": "string",
            "description": "Token description"
          },
          "denom_units": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Denomination units"
          },
          "base": {
            "type": "string",
            "description": "Base denomination"
          },
          "display": {
            "type": "string",
            "description": "Display denomination"
          },
          "name": {
            "type": "string",
            "description": "Token name"
          },
          "symbol": {
            "type": "string",
            "description": "Token symbol"
          }
        },
        "required": [
          "base",
          "display"
        ]
      },
      "DistributionParams": {
        "type": "object",
        "description": "Distribution module parameters",
        "properties": {
          "community_tax": {
            "type": "string",
            "description": "Community tax rate"
          },
          "base_proposer_reward": {
            "type": "string",
            "description": "Base proposer reward"
          },
          "bonus_proposer_reward": {
            "type": "string",
            "description": "Bonus proposer reward"
          },
          "withdraw_addr_enabled": {
            "type": "boolean",
            "description": "Whether withdraw address changes are enabled"
          }
        }
      },
      "ValidatorDistribution": {
        "type": "object",
        "description": "Validator distribution information",
        "properties": {
          "operator_address": {
            "type": "string",
            "description": "Validator operator address"
          },
          "outstanding_rewards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Coin"
            },
            "description": "Outstanding rewards"
          },
          "commission": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Coin"
            },
            "description": "Commission"
          },
          "slashes": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Slashing events"
          }
        },
        "required": [
          "operator_address"
        ]
      },
      "DelegatorDistribution": {
        "type": "object",
        "description": "Delegator distribution information",
        "properties": {
          "delegator_address": {
            "type": "string",
            "description": "Delegator address"
          },
          "rewards": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Rewards per validator"
          },
          "total": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Coin"
            },
            "description": "Total rewards"
          },
          "withdraw_address": {
            "type": "string",
            "description": "Withdraw address"
          }
        },
        "required": [
          "delegator_address"
        ]
      },
      "GovernanceParams": {
        "type": "object",
        "description": "Governance module parameters",
        "properties": {
          "voting_params": {
            "type": "object",
            "description": "Voting parameters"
          },
          "deposit_params": {
            "type": "object",
            "description": "Deposit parameters"
          },
          "tally_params": {
            "type": "object",
            "description": "Tally parameters"
          }
        }
      },
      "Proposal": {
        "type": "object",
        "description": "Governance proposal",
        "properties": {
          "proposal_id": {
            "type": "string",
            "description": "Proposal ID"
          },
          "content": {
            "type": "object",
            "description": "Proposal content"
          },
          "status": {
            "type": "string",
            "description": "Proposal status"
          },
          "final_tally_result": {
            "type": "object",
            "description": "Final vote tally"
          },
          "submit_time": {
            "type": "string",
            "description": "Submission time"
          },
          "deposit_end_time": {
            "type": "string",
            "description": "Deposit end time"
          },
          "total_deposit": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Coin"
            },
            "description": "Total deposited"
          },
          "voting_start_time": {
            "type": "string",
            "description": "Voting start time"
          },
          "voting_end_time": {
            "type": "string",
            "description": "Voting end time"
          }
        },
        "required": [
          "proposal_id",
          "status"
        ]
      },
      "ProposalFull": {
        "type": "object",
        "description": "Full proposal details with votes and deposits",
        "properties": {
          "proposal": {
            "$ref": "#/components/schemas/Proposal"
          },
          "votes": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Votes on the proposal"
          },
          "deposits": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Deposits on the proposal"
          },
          "tally": {
            "type": "object",
            "description": "Current tally result"
          }
        },
        "required": [
          "proposal"
        ]
      },
      "PortfolioAnalysis": {
        "type": "object",
        "description": "Portfolio impact analysis",
        "properties": {
          "address": {
            "type": "string",
            "description": "Analyzed address"
          },
          "analysis_type": {
            "type": "string",
            "description": "Type of analysis performed"
          },
          "total_credits": {
            "type": "number",
            "description": "Total credits held"
          },
          "credit_breakdown": {
            "type": "object",
            "description": "Breakdown by credit type"
          },
          "ecological_impact": {
            "type": "object",
            "description": "Ecological impact metrics"
          },
          "recommendations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Portfolio recommendations"
          }
        },
        "required": [
          "address",
          "analysis_type"
        ]
      },
      "MarketTrends": {
        "type": "object",
        "description": "Market trends analysis",
        "properties": {
          "time_period": {
            "type": "string",
            "description": "Analysis time period"
          },
          "credit_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Analyzed credit types"
          },
          "trends": {
            "type": "object",
            "description": "Trend data by credit type"
          },
          "summary": {
            "type": "object",
            "description": "Summary statistics"
          }
        },
        "required": [
          "time_period"
        ]
      },
      "MethodologyComparison": {
        "type": "object",
        "description": "Credit methodology comparison",
        "properties": {
          "class_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Compared class IDs"
          },
          "comparison": {
            "type": "object",
            "description": "Comparison results"
          },
          "recommendations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Recommendations"
          }
        },
        "required": [
          "class_ids"
        ]
      },
      "ApiCapabilities": {
        "type": "object",
        "description": "API capabilities summary",
        "properties": {
          "name": {
            "type": "string",
            "description": "API name"
          },
          "description": {
            "type": "string",
            "description": "API description"
          },
          "capabilities": {
            "type": "object",
            "description": "Available API capabilities grouped by category"
          }
        },
        "required": [
          "name",
          "capabilities"
        ]
      },
      "KoiSearchResult": {
        "type": "object",
        "description": "Individual search result",
        "properties": {
          "title": {
            "type": "string",
            "description": "Document title"
          },
          "content": {
            "type": "string",
            "description": "Content excerpt"
          },
          "score": {
            "type": "number",
            "description": "Relevance score"
          },
          "source": {
            "type": "string",
            "description": "Source type"
          },
          "rid": {
            "type": "string",
            "description": "Record ID"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          }
        },
        "required": [
          "title",
          "content",
          "score",
          "rid"
        ]
      },
      "KoiSearchResponse": {
        "type": "object",
        "description": "Knowledge base search response",
        "properties": {
          "question": {
            "type": "string",
            "description": "Original search query"
          },
          "total_results": {
            "type": "integer",
            "description": "Total results found"
          },
          "confidence": {
            "type": "number",
            "description": "Overall confidence score"
          },
          "execution_time": {
            "type": "number",
            "description": "Query execution time in seconds"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KoiSearchResult"
            },
            "description": "Search results"
          },
          "answerable": {
            "type": "boolean",
            "description": "Whether the query can be reliably answered with available evidence"
          },
          "answerability_reason": {
            "type": "string",
            "enum": [
              "sufficient_evidence",
              "no_recent_sources",
              "no_dated_sources",
              "sources_only_identity_mentions",
              "policy_filtered_all_sources",
              "ambiguous_entity",
              "insufficient_candidates"
            ],
            "description": "Reason for answerability status"
          },
          "evidence_summary": {
            "type": "string",
            "description": "Summary of supporting evidence found (when answerable)"
          },
          "profile_debug": {
            "type": "object",
            "description": "Retrieval profile debug info",
            "properties": {
              "profile_name": {
                "type": "string",
                "description": "Name of the profile used"
              },
              "profile_version": {
                "type": "string",
                "description": "Version of the profile"
              },
              "effective_policy": {
                "type": "string",
                "enum": [
                  "public",
                  "internal_ok"
                ],
                "description": "Effective policy after auth check"
              },
              "recency_window_used": {
                "type": "integer",
                "description": "Recency window in months (0 = none)"
              },
              "candidates_total": {
                "type": "integer",
                "description": "Candidates before filtering"
              },
              "candidates_filtered": {
                "type": "integer",
                "description": "Candidates removed by profile"
              },
              "candidates_kept": {
                "type": "integer",
                "description": "Candidates kept after filtering"
              }
            }
          }
        },
        "required": [
          "question",
          "total_results",
          "results"
        ]
      },
      "KoiGraphResponse": {
        "type": "object",
        "description": "Code graph query response",
        "properties": {
          "query_type": {
            "type": "string",
            "description": "Type of query performed"
          },
          "total_results": {
            "type": "integer",
            "description": "Total results"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Query results"
          }
        },
        "required": [
          "query_type",
          "results"
        ]
      },
      "KoiEntityResponse": {
        "type": "object",
        "description": "Entity query response",
        "properties": {
          "query_type": {
            "type": "string",
            "description": "Type of entity query"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Query results"
          },
          "request_id": {
            "type": "string",
            "description": "Request ID"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Any warnings"
          }
        },
        "required": [
          "query_type",
          "results"
        ]
      },
      "WeeklyDigest": {
        "type": "object",
        "description": "Weekly digest content",
        "properties": {
          "period_start": {
            "type": "string",
            "description": "Digest period start date"
          },
          "period_end": {
            "type": "string",
            "description": "Digest period end date"
          },
          "executive_summary": {
            "type": "string",
            "description": "Executive summary"
          },
          "governance": {
            "type": "object",
            "description": "Governance activity"
          },
          "community": {
            "type": "object",
            "description": "Community updates"
          },
          "metrics": {
            "type": "object",
            "description": "On-chain metrics"
          }
        },
        "required": [
          "period_start",
          "period_end"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response envelope",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "Unique request ID"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            },
            "description": "Structured errors"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Additional context"
          }
        },
        "required": [
          "request_id",
          "errors"
        ]
      },
      "Response_ApiCapabilities": {
        "type": "object",
        "description": "API capabilities response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ApiCapabilities"
          },
          "request_id": {
            "type": "string",
            "description": "Unique request ID"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_CreditTypes": {
        "type": "object",
        "description": "Credit types list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "credit_types": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreditType"
                }
              }
            },
            "required": [
              "credit_types"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_CreditClasses": {
        "type": "object",
        "description": "Credit classes list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "classes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreditClass"
                }
              }
            },
            "required": [
              "classes"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_Projects": {
        "type": "object",
        "description": "Projects list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "projects": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            },
            "required": [
              "projects"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "citations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Citation"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_CreditBatches": {
        "type": "object",
        "description": "Credit batches list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "batches": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreditBatch"
                }
              }
            },
            "required": [
              "batches"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_SellOrders": {
        "type": "object",
        "description": "Sell orders list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "sell_orders": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SellOrder"
                }
              }
            },
            "required": [
              "sell_orders"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_AllowedDenoms": {
        "type": "object",
        "description": "Allowed denoms list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "allowed_denoms": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AllowedDenom"
                }
              }
            },
            "required": [
              "allowed_denoms"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_Baskets": {
        "type": "object",
        "description": "Baskets list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "baskets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Basket"
                }
              }
            },
            "required": [
              "baskets"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_BasketFee": {
        "type": "object",
        "description": "Basket fee response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "fee": {
                "$ref": "#/components/schemas/Coin"
              }
            }
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_BasketDetails": {
        "type": "object",
        "description": "Basket details response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "basket": {
                "$ref": "#/components/schemas/Basket"
              },
              "balances": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BasketBalance"
                }
              }
            },
            "required": [
              "basket"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_Accounts": {
        "type": "object",
        "description": "Accounts list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "accounts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              },
              "account": {
                "$ref": "#/components/schemas/AccountInfo"
              }
            }
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_Balances": {
        "type": "object",
        "description": "Account balances response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "balances": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Coin"
                }
              },
              "balance": {
                "$ref": "#/components/schemas/Coin"
              }
            }
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_Supply": {
        "type": "object",
        "description": "Token supply response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "supply": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Coin"
                }
              },
              "amount": {
                "$ref": "#/components/schemas/Coin"
              }
            }
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_TokenMetadata": {
        "type": "object",
        "description": "Token metadata response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "metadatas": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TokenMetadata"
                }
              },
              "metadata": {
                "$ref": "#/components/schemas/TokenMetadata"
              },
              "owners": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_BankParams": {
        "type": "object",
        "description": "Bank params response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "params": {
                "type": "object",
                "properties": {
                  "send_enabled": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "default_send_enabled": {
                    "type": "boolean"
                  }
                }
              }
            },
            "required": [
              "params"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_DistributionParams": {
        "type": "object",
        "description": "Distribution params response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DistributionParams"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_CommunityPool": {
        "type": "object",
        "description": "Community pool response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "pool": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Coin"
                }
              }
            },
            "required": [
              "pool"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_ValidatorDistribution": {
        "type": "object",
        "description": "Validator distribution response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ValidatorDistribution"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_DelegatorDistribution": {
        "type": "object",
        "description": "Delegator distribution response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DelegatorDistribution"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_GovernanceParams": {
        "type": "object",
        "description": "Governance params response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GovernanceParams"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_Proposals": {
        "type": "object",
        "description": "Proposals list response envelope",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "proposals": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            },
            "required": [
              "proposals"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_ProposalFull": {
        "type": "object",
        "description": "Full proposal details response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProposalFull"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_PortfolioAnalysis": {
        "type": "object",
        "description": "Portfolio analysis response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PortfolioAnalysis"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_MarketTrends": {
        "type": "object",
        "description": "Market trends response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MarketTrends"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_MethodologyComparison": {
        "type": "object",
        "description": "Methodology comparison response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MethodologyComparison"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_KoiSearch": {
        "type": "object",
        "description": "KOI search response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/KoiSearchResponse"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_KoiGraph": {
        "type": "object",
        "description": "KOI graph response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/KoiGraphResponse"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      },
      "Response_WeeklyDigest": {
        "type": "object",
        "description": "Weekly digest response envelope",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/WeeklyDigest"
          },
          "request_id": {
            "type": "string"
          },
          "data_source": {
            "$ref": "#/components/schemas/DataSourceEnum"
          },
          "as_of": {
            "$ref": "#/components/schemas/AsOf"
          },
          "tool_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolTrace"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        },
        "required": [
          "data",
          "request_id"
        ]
      }
    }
  },
  "paths": {
    "/api/koi/query": {
      "post": {
        "tags": [
          "Knowledge - Search"
        ],
        "summary": "Semantic knowledge search",
        "description": "Search the Regen Network knowledge base using hybrid semantic search. Returns relevant documents about regenerative agriculture, Regen Network, ecological credits, and related topics. Results include confidence scores and source citations.",
        "operationId": "koi_semantic_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question"
                ],
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "Natural language question or search query"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10,
                    "description": "Maximum number of results to return"
                  },
                  "intent": {
                    "type": "string",
                    "enum": [
                      "general",
                      "person_activity",
                      "person_bio",
                      "concept_explain",
                      "technical_howto",
                      "code_navigation"
                    ],
                    "default": "general",
                    "description": "Query intent for retrieval profile selection (use person_activity for 'what is X working on?')"
                  },
                  "source_policy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "internal_ok"
                    ],
                    "default": "public",
                    "description": "Source visibility policy (bounded by auth; internal_ok may be downgraded)"
                  }
                }
              },
              "example": {
                "question": "What is Regen Registry?",
                "limit": 10
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results with confidence scores",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_KoiSearch"
                },
                "example": {
                  "data": {
                    "question": "What is Regen Registry?",
                    "total_results": 10,
                    "confidence": 0.85,
                    "execution_time": 0.234,
                    "results": [
                      {
                        "title": "Regen Registry Overview",
                        "content": "Regen Registry is...",
                        "score": 0.92,
                        "source": "documentation",
                        "rid": "doc-123"
                      }
                    ]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440025",
                  "data_source": "koi-derived"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/koi/graph": {
      "post": {
        "tags": [
          "Knowledge - Graph"
        ],
        "summary": "Query the code knowledge graph",
        "description": "Query the code knowledge graph for entities (Classes, Functions, Handlers, Keepers, etc.) and their relationships. Supports listing repositories, searching entities, finding module relationships, and traversing call hierarchies.",
        "operationId": "koi_graph_query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query_type"
                ],
                "properties": {
                  "query_type": {
                    "type": "string",
                    "enum": [
                      "list_repos",
                      "list_entity_types",
                      "get_entity_stats",
                      "find_by_type",
                      "search_entities",
                      "related_entities",
                      "list_modules",
                      "get_module",
                      "keeper_for_msg",
                      "msgs_for_keeper",
                      "find_callers",
                      "find_callees"
                    ],
                    "description": "Type of graph query to perform"
                  },
                  "entity_name": {
                    "type": "string",
                    "description": "Entity name or search term (for search_entities, related_entities)"
                  },
                  "entity_type": {
                    "type": "string",
                    "description": "Entity type filter (for find_by_type). Examples: Sensor, Handler, Class, Interface, Function, Keeper"
                  },
                  "repo_name": {
                    "type": "string",
                    "description": "Repository name filter (e.g., koi-sensors, regen-ledger)"
                  },
                  "module_name": {
                    "type": "string",
                    "description": "Module name (for get_module, keeper_for_msg, msgs_for_keeper)"
                  }
                }
              },
              "examples": {
                "list_repos": {
                  "value": {
                    "query_type": "list_repos"
                  }
                },
                "list_entity_types": {
                  "value": {
                    "query_type": "list_entity_types"
                  }
                },
                "search_entities": {
                  "value": {
                    "query_type": "search_entities",
                    "entity_name": "ecocredit"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Graph query results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_KoiGraph"
                },
                "example": {
                  "data": {
                    "query_type": "list_repos",
                    "total_results": 4,
                    "results": [
                      {
                        "name": "regen-ledger",
                        "entities": 150
                      }
                    ]
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440026",
                  "data_source": "koi-derived"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/koi/weekly-digest": {
      "get": {
        "tags": [
          "Knowledge - Digest"
        ],
        "summary": "Weekly digest - USE FOR 'this week', 'past week', 'recent news', 'what's happening'",
        "description": "Weekly digest of recent Regen Network activity. Use for questions like \u201cthis week\u201d, \u201cpast week\u201d, \u201crecent news\u201d, \u201cwhat\u2019s happening\u201d, or \u201cweekly update\u201d. Returns curated highlights across governance, community, and ecosystem.",
        "operationId": "koi_weekly_digest",
        "responses": {
          "200": {
            "description": "Weekly digest content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response_WeeklyDigest"
                },
                "example": {
                  "data": {
                    "period_start": "2024-01-01",
                    "period_end": "2024-01-07",
                    "executive_summary": "This week saw significant activity...",
                    "governance": {
                      "active_proposals": 2
                    },
                    "community": {
                      "forum_posts": 15
                    },
                    "metrics": {
                      "total_credits_issued": 50000
                    }
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440027",
                  "data_source": "koi-derived"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/koi/entity": {
      "post": {
        "tags": [
          "Knowledge - Entity"
        ],
        "summary": "Entity relationship queries",
        "description": "Entity graph query. Set query_type to one of: resolve | neighborhood | documents. Provide label (to resolve) or uri (if already known).",
        "operationId": "koi_entity_query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query_type"
                ],
                "properties": {
                  "query_type": {
                    "type": "string",
                    "enum": [
                      "resolve",
                      "neighborhood",
                      "documents"
                    ],
                    "description": "Type of entity query to perform"
                  },
                  "label": {
                    "type": "string",
                    "description": "Entity label to look up (e.g., 'ethereum', 'regen commons')"
                  },
                  "uri": {
                    "type": "string",
                    "description": "Entity URI (preferred if known from previous resolve)"
                  },
                  "type_hint": {
                    "type": "string",
                    "description": "Optional type hint for disambiguation (e.g., 'TECHNOLOGY', 'ORGANIZATION')"
                  },
                  "direction": {
                    "type": "string",
                    "enum": [
                      "out",
                      "in",
                      "both"
                    ],
                    "default": "both",
                    "description": "Edge direction for neighborhood query"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 20,
                    "description": "Maximum results to return"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entity query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Entity query payload (shape depends on query_type)",
                      "properties": {
                        "query_type": {
                          "type": "string"
                        },
                        "query_label": {
                          "type": "string"
                        },
                        "winner": {
                          "type": "object"
                        },
                        "alternatives": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "is_polysemy": {
                          "type": "boolean"
                        }
                      }
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "data_source": {
                      "type": "string"
                    },
                    "citations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "as_of": {
                      "type": "object"
                    },
                    "tool_trace": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "data",
                    "request_id"
                  ]
                },
                "example": {
                  "data": {
                    "query_type": "resolve",
                    "query_label": "Ethereum",
                    "variant_count": 3,
                    "winner": {
                      "uri": "https://regen.network/tech/b35599829c6dc565",
                      "entity_text": "Ethereum",
                      "entity_type": "TECHNOLOGY"
                    },
                    "alternatives": [
                      {
                        "uri": "https://regen.network/project/a3b7abd349ff09a5",
                        "entity_text": "Ethereum",
                        "entity_type": "PROJECT"
                      }
                    ],
                    "is_polysemy": true
                  },
                  "request_id": "550e8400-e29b-41d4-a716-446655440999",
                  "data_source": "koi-derived",
                  "citations": [],
                  "warnings": [],
                  "errors": [],
                  "as_of": {
                    "koi": {
                      "corpus_version": "2026-01-01",
                      "indexed_at": "2026-01-01T00:00:00Z"
                    }
                  },
                  "tool_trace": [
                    {
                      "tool": "entity_resolve",
                      "params_summary": "label=Ethereum,limit=5"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}